# Python
__pycache__/
*.py[cod]

# Environnements virtuels
.env
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Données brutes / grosses données
data/raw/creditcard.csv

# Résultats temporaires / logs
*.log
*.tmp
*.bak

# IDEs
.vscode/
.idea/
